footer.flex{
   justify-content: space-between; 
padding-bottom: 1rem;
margin-bottom: 0.9rem;
}
footer.flex ul{
    gap: 1rem;
}
footer.flex ul a{
    color: var(--subtitle);
    font-size: 0.9rem;
    font-weight: 400;
   
}
footer.flex ul a:hover{
    color: var(--blue);
    font-size: 1rem;
    font-weight: 500;
}
footer.flex p{
    color: rgb(113,113,122);

}

.scrooltop{
    background-color: rgba(25,118,210,0.85);
    border-radius: 50%;
    position: fixed;
    height: 2.6rem;
    width: 2.6rem;
    right: 3%;
    bottom: 2rem;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.2);
      font-size: 1.3rem;
      
}
.scrooltop:hover{
    background-color:rgb(25,118,210) ;
}


@media(max-width:800px){
footer.flex{
 flex-direction: column;
 gap: 2rem;
   font-size: 1rem;
}
.scrooltop{
    opacity: 0.6;
     height: 2rem;
    width: 2rem;
  
}
}
